<div class="div-titulo" style="margin-bottom: 10px">
    <div style="font-size: 25px; width: 40%; text-align: right; display: inline-block">
        Colunas
    </div>
    <div style="font-size: 25px; width: 39%; text-align: right; display: inline-block;">
        <% if @usuario_logado.perfil.perfil_funcionalidades.joins(:funcionalidade).where('sys_id = 5').any? %>
            <%= link_to 'Nova coluna', new_coluna_path(projeto_id: @projeto.id), class: 'btn btn-outline-success', style: 'border-radius: 15px' %>
        <% end %>
    </div>
</div>
<table style="background-color: white; width: 80%; margin: 0 auto;" class="<%= @colunas.any? ? 'table-bordered' : '' %>">
    <div class="tabela_colunas">
        <%= render('tabela_colunas') %>
    </div>
</table>