<div class="div-titulo" style="margin-bottom: 10px">
    <div style="font-size: 25px; width: 40%; text-align: right; display: inline-block">
        Status
    </div>
    <div style="font-size: 25px; width: 39%; text-align: right; display: inline-block;">
        <% if @usuario_logado.perfil.perfil_funcionalidades.joins(:funcionalidade).where('sys_id = 1').any? %>
            <%= link_to 'Novo status', new_status_path(usuario: @usuario_logado.id, projeto_id: @projeto.id), class: 'btn btn-outline-success', style: 'border-radius: 15px' %>
        <% end %>
    </div>
</div>
<table style="background-color: white; width: 80%; margin: 0 auto;" class="<%= @status.any? ? 'table-bordered' : '' %>">
    <% if @status.any? %>
        <thead>
            <tr>
                <th style="padding: 5px; padding-left: 15px">
                    Nome
                </th>
                <th style="padding: 5px; text-align: center">
                    Prioridade
                </th>
                <th style="padding: 5px; text-align: center">
                    Demonstração
                </th>
                <% if @usuario_logado.perfil.perfil_funcionalidades.joins(:funcionalidade).where('sys_id = 4').any? %>
                    <th style="padding: 5px; text-align: center">
                    </th>
                <% end %>
                <% if @usuario_logado.perfil.perfil_funcionalidades.joins(:funcionalidade).where('sys_id = 2').any? %>
                    <th style="padding: 5px; text-align: center">
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody class="tabela_status">
            <%= render('tabela_status') %>
        </tbody>
    <% else %>
        <tbody>
            <tr>
                <td colspan="2" scope="row" style="text-align: left; color: red; padding: 15px">
                    Sem registros
                </td>
            </tr>
        </tbody>
    <% end %>
</table>