<div style="margin-top: 20px; text-align: center; margin-bottom: 150px">
    <div style="width: 100%; height: 300px; display: inline-block; margin: 0 auto">
        <div style="display: inline-block; width: 25vw; height: 45px; padding-top: 5px; border-radius: 20px; float: left; margin-left: 20px; font-size: 25px; background-color: #9525E3; color: white; font-weight: bold;">
            Burndown
        </div>
        <div style="display: inline-block; width: 25vw; height: 45px; padding-top: 5px; border-radius: 20px; float: left; margin-left: 20px; font-size: 25px; background-color: white; color: #9525E3; font-weight: bold; border: 1px solid #9525E3">
            Ideal/dia: <%= @ideal_por_dia %>
        </div>
    <div>
    <div style="margin-top: 100px; text-align: center; margin-bottom: 150px; text-align: center">
        <canvas id="myChart" width="960" height="200"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @hash_dias_sprint %>,
            datasets: [{
                label: 'Real',
                data: <%= @hash_real %>,
                fill:false,
                borderColor:"green",
                pointBackgroundColor: "green",
                pointBorderWidth: 2,
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderWidth: 2,
                lineTension:0.05
                }, {
                label: 'Ideal',
                data: <%= @hash_ideal %>,
                fill:false,
                borderColor:"#308af3",
                pointBackgroundColor: "#308af3",
                pointBorderWidth: 2,
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderWidth: 2,
                lineTension:0.05
            }]
        },
        options: {
            legend: { display: true },
            scales: {
                xAxes: [{
                    gridLines: { display:false },
                }],
                yAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, .05)",
                    },
                }]
            }
        }
    });
</script>