<div style="width: 80%; margin: 0 auto; margin-top: 40px">
    <div style="width: 100%; text-align: center; margin-top: 25px; font-size: 25px">
        <span style="margin: 0 auto; width: 100%">Edição da sprint</span>
    </div>
    <%= render('form') %>
    <div style="height: 40px; width: 100%"></div>
</div>