<div style="margin-top: 20px; text-align: center; margin-bottom: 150px; overflow: auto">
    <div style="width: 100%; height: 50px; display: inline-block; margin: 0 auto">
        <div style="display: inline-block; width: 25vw; height: 45px; padding-top: 5px; border-radius: 20px; float: left; margin-left: 20px; font-size: 25px; background-color: #9525E3; color: white; font-weight: bold;">
            <%= @projeto.nome %>
        </div>
        <div style="display: inline-block; width: 25vw; height: 45px; padding-top: 5px; border-radius: 20px; float: left; margin-left: 20px; font-size: 25px; background-color: white; color: #9525E3; border: 1px solid #9525E3;font-weight: bold;">
            <%= @sprint.nome %>
        </div>
    </div>
    <div class="atualiza_sprint">
        <%= render('sprint') %>
    </div>
</div>

<script>

</script>