.fundo_erro {
    background-color: rgb(235, 78, 78);
    border: 1px solid red;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    color: white;
    margin-bottom: 25px !important;
}

.hide_selecione {
    display: none;
}

.close_div_lateral {
    color: rgb(170, 170, 170);
    cursor: pointer;
}

.close_div_lateral:hover {
    color: rgb(124, 124, 124);
    cursor: pointer;
}