.colorgraph {
    height: 2px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(left, #9525E3, #9525E3 12.5%);
    background-image: -moz-linear-gradient(left, #9525E3, #9525E3 12.5%);
    background-image: -o-linear-gradient(left, #9525E3, #9525E3 12.5%);
    background-image: linear-gradient(to right, #9525E3, #9525E3 12.5%);
}