.botoes-projetos-atual,
.botoes-projetos {
    padding: 15px 200px 15px 200px;
    border-bottom: 2px solid #9525E3;
    text-decoration: none;
}

.botoes-backlog {
    padding: 15px 200px 15px 200px;
    border-bottom: 2px solid #257df0;
    text-decoration: none;
    color: #257df0;
}

.botoes-projetos {
    color: #9525E3;
}

.botoes-projetos-atual {
    color: #451566;
    font-weight: bold;
}

.botoes-projetos-atual:hover,
.botoes-projetos:hover {
    transition: padding 1s;
    transition-timing-function: ease;
    padding: 15px 230px 15px 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botoes-backlog:hover {
    transition: padding 1s;
    transition-timing-function: ease;
    padding: 15px 230px 15px 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 15px solid #257df0;
}

.botoes-projetos:hover {
    border-right: 15px solid #9525E3;
}

.botoes-projetos-atual:hover {
    border-right: 15px solid #451566;
}

.botoes-projetos:link,
.botoes-projetos:visited {
    color: #9525E3;
    text-decoration: none;
}

.botoes-projetos-atual:link,
.botoes-projetos-atual:visited {
    color: #451566;
    text-decoration: none;
    font-weight: bold;
}

.botoes-backlog:link,
.botoes-backlog:visited {
    color: #257df0;
    text-decoration: none;
    font-weight: bold;
}

.lista_prioridades {
    font-weight: bold;
    text-decoration: none;
}

.lista_prioridades:hover,
.lista_prioridades:visited,
.lista_prioridades:link {
    text-decoration: none;
}

.div-adicionar-usr {
    height: 41px;
    width: 20px;
    background-color: #6ca3ec;
    display: inline-block;
    margin-top: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.div-adicionar-usr:hover,
.div-adicionar-usr:visited,
.div-adicionar-usr:link {
    text-decoration: none;
    background-color: #257df0;
}

.adicionar-usr {
    color: white;
    vertical-align: middle;
}

.adicionar-usr:hover,
.adicionar-usr:link,
.adicionar-usr:visited {
    color: white;
    text-decoration: none;
}

.adicionar_usuario_table {
    color: green;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.adicionar_usuario_table:hover,
.adicionar_usuario_table:link,
.adicionar_usuario_table:visited {
    text-decoration: none;
}

.adicionar_usuario_table:hover {
    color: rgb(1, 61, 1);
}