.botoes-projetos-atual,
.botoes-projetos {
    padding: 15px 200px 15px 200px;
    border-bottom: 2px solid #9525E3;
    text-decoration: none;
}

.botoes-backlog {
    padding: 15px 200px 15px 200px;
    border-bottom: 2px solid #257df0;
    text-decoration: none;
    color: #257df0;
}

.botoes-projetos {
    color: #9525E3;
}

.botoes-projetos-atual {
    color: #451566;
    font-weight: bold;
}

.botoes-projetos-atual:hover,
.botoes-projetos:hover {
    transition: padding 1s;
    transition-timing-function: ease;
    padding: 15px 230px 15px 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botoes-backlog:hover {
    transition: padding 1s;
    transition-timing-function: ease;
    padding: 15px 230px 15px 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 15px solid #257df0;
}

.botoes-projetos:hover {
    border-right: 15px solid #9525E3;
}

.botoes-projetos-atual:hover {
    border-right: 15px solid #451566;
}

.botoes-projetos:link,
.botoes-projetos:visited {
    color: #9525E3;
    text-decoration: none;
}

.botoes-projetos-atual:link,
.botoes-projetos-atual:visited {
    color: #451566;
    text-decoration: none;
    font-weight: bold;
}

.botoes-backlog:link,
.botoes-backlog:visited {
    color: #257df0;
    text-decoration: none;
    font-weight: bold;
}

.lista_prioridades {
    font-weight: bold;
    text-decoration: none;
}

.excluir {
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 45, 45);
}

.editar {
    font-weight: bold;
    text-decoration: none;
    color: #131213;
}

.excluir:visited,
.excluir:link {
    color: rgb(255, 45, 45);
    text-decoration: none;
}

.editar:visited,
.editar:link {
    color: #131213;
    text-decoration: none;
}

.excluir:hover {
    color: white;
    background-color: rgb(255, 45, 45);
}

.editar:hover {
    color: white;
    background-color: #131213;
}

.lista_prioridades:hover,
.lista_prioridades:visited,
.lista_prioridades:link {
    text-decoration: none;
}

.next,
.editar_config,
.excluir_sprint {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    float: left;
    margin-left: 5px;
}

.edit_config {
    text-decoration: none;
    display: inline-block;
    color: #494749;
    background-color: white;
}

.editar_config {
    padding: 3px 3px 3px 3px;
    color: #494749;
    background-color: white;
    font-size: 35px;
}

.excluir_sprint {
    padding: 3px 3px 3px 1px;
    color: #e7312b !important;
    background-color: white;
    font-size: 35px;
}

.next {
    padding: 4px 25px 4px 25px;
    color: white;
    background-color: #257df0;
    font-size: 25px;
}

.next:hover {
    color: white;
    background-color: #2063b9;
}

.editar_config:hover,
.edit_config:hover {
    color: #131213;
}

.excluir_sprint:hover {
    color: #ad2622 !important;
}

.next:visited,
.next:link {
    text-decoration: none;
}

.editar_config:visited,
.editar_config:link {
    text-decoration: none;
}

.div-adicionar-usr {
    height: 41px;
    width: 20px;
    background-color: #9525E3;
    display: inline-block;
    margin-top: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}

.div-adicionar-usr:hover,
.div-adicionar-usr:visited,
.div-adicionar-usr:link {
    text-decoration: none;
    background-color: #6c1ba5;
}

.adicionar-usr {
    color: white;
    vertical-align: middle;
}

.adicionar-usr:hover,
.adicionar-usr:link,
.adicionar-usr:visited {
    color: white;
    text-decoration: none;
}

.adicionar_usuario_table {
    color: green;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.adicionar_usuario_table:hover,
.adicionar_usuario_table:link,
.adicionar_usuario_table:visited {
    text-decoration: none;
}

.adicionar_usuario_table:hover {
    color: rgb(1, 61, 1);
}