.att_quadro {
    background-color: white;
    padding: 7px 63px 7px 65px;
    text-decoration: none;
    display: none;
    border-radius: 5px;
    border: 1px solid #9525E3;
    color: #9525E3
}

.att_quadro:hover {
    background-color: #9525E3;
    color: white;
    text-decoration: none;
}