<section id="footer" style="background: #9524E3; margin-top: 10px">
    <ul class="social_footer_ul" style="padding-top: 20px; padding-bottom: 20px; padding-left: 0px">
        <li><a href="https://www.facebook.com/edenilson.luizalmeida" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/in/edenilson-a-3a7443b6/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/ede4lmeida/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <div class="container" style="padding-bottom: 20px">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Desenvolvido por Edenilson Luiz de Almeida como projeto de TCC para a conclusão do curso.</p>
                <p class="h6">© Todos os direitos reservados.</p>
            </div>
            <hr>
        </div>	
    </div>
</section>